.create-widget-card {
  max-width: 116px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.create-widget-card__name {
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  color: $color-neutral-900;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.create-widget-card__name-locked {
  display: inline-block;
  color: $color-primary-text;
  padding: 3px;
  border-radius: 4px;
  background: themed-alpha($color-primary-500, 0.1);
}

.create-widget-card__img-container {
  height: 80px;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid $color-neutral-200;
  background: $color-neutral-50;
  box-shadow: none;
}

.create-widget-card--available:hover .create-widget-card__img-container {
  border: 1px solid themed-alpha($color-primary-500, 0.35);
  background: themed-alpha($color-primary-500, 0.06);
}
