.dashboard-app__layout {
  display: flex;
}

.dashboard-app__layout-scrollable {
  height: 100%;
  overflow: auto;
}

.dashboard-app__content {
  min-height: calc(100vh - 100px);
  min-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 24px 20px 24px 24px;
  padding: 56px 80px;
  position: relative;
  background: linear-gradient(
    180deg,
    $color-neutral-50 0%,
    $color-neutral-10 100%
  );
  border: 1px solid $color-neutral-200;
  box-shadow: 0 14px 34px rgba(0, 0, 0, 0.28);

  @include rounded($rounded);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(
      90deg,
      $color-primary-500 0%,
      $color-primary-400 100%
    );
    border-top-left-radius: $rounded;
    border-top-right-radius: $rounded;
  }

  @media screen and (max-width: $dashboard-breakpoint) {
    padding: 20px 24px;
  }
}

.dashboard-app__content--small {
  min-height: calc(100vh - 212px);
}

.dashboard-app__content-header {
  margin-bottom: 24px;
}

.dashboard-app__title {
  color: $color-neutral-900;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.dashboard-app__description {
  color: $color-neutral-700;
  margin-top: 14px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;

  @include contenteditable-placeholder;
}

.dashboard-app__edit-icon {
  color: $color-neutral-600;
  font-size: 18px;
  margin-bottom: 2px;
}

.dashboard-app__edit {
  line-height: 14px;
  color: $color-neutral-700;
  padding-left: 8px;

  &:hover {
    .dashboard-app__edit-icon {
      color: $color-primary-text;
    }
  }
}
