.icon {
  font-size: 15px;
  color: $color-neutral-900;

  &--secondary {
    color: $color-neutral-500;
  }

  &--warning {
    color: $color-warning-text;
  }

  &--error {
    color: $color-error-text;
  }

  &--success {
    color: $color-success-text;
  }

  &--small {
    font-size: 13px;
  }

  &--large {
    font-size: 17px;
  }

  &--x-large {
    font-size: 20px;
  }
}
