.toasts__container-top {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 320px;
  z-index: $z-index-toasts;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.toasts__container-bottom {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  position: fixed;
  bottom: 15px;
  right: 15px;
  gap: 15px;
  z-index: $z-index-toasts;
}

.toast {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 16px;
  background: $white;
  border: 1px solid $color-neutral-300;
  box-shadow: 0 6px 12px 0 rgba(7, 8, 16, 0.08);
  z-index: $z-index-toasts;

  @include rounded($rounded-md);
}

.toast__content {
  margin: 0;
  padding: 0;
  flex: 1 1 auto;
  font-size: 12px;
  overflow: hidden;
  overflow-wrap: break-word;

  p {
    margin: 0;
  }
}

.toast__title {
  font-weight: 500;
  line-height: 20px;
  font-size: 13px;
  color: $color-neutral-900;
}

.toast__message {
  color: $color-neutral-700;
  line-height: 20px;
}

.toast__icon {
  width: 40px;
  height: 40px;
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;

  @include rounded($rounded-3xl);
}

.toast__close {
  background: none;
  width: 16px;
  height: 16px;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  flex: 0 1 auto;
  color: $color-neutral-500;
  cursor: pointer;

  &:hover {
    color: $color-neutral-600;
  }
}

.toast__loading {
  cursor: wait;
  user-select: none;
  width: 14px;
  height: 14px;
  position: relative;

  &::after {
    content: ' ';
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 0.15em solid;
    border-color: $color-neutral-500 transparent $color-neutral-500 transparent;
    animation: spin infinite 1800ms;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}

.toast__icon--success {
  background: $color-success-100;
  color: $color-success-700;

  .toast__loading {
    &::after {
      border-color: $color-success-700 transparent $color-success-700
        transparent;
    }
  }
}

.toast__icon--warning {
  background: $color-warning-100;
  color: $color-warning-700;

  .toast__loading {
    &::after {
      border-color: $color-warning-700 transparent $color-warning-700
        transparent;
    }
  }
}

.toast__icon--error {
  background: $color-error-100;
  color: $color-error-700;

  .toast__loading {
    &::after {
      border-color: $color-error-700 transparent $color-error-700 transparent;
    }
  }
}

.toast__icon--info-neutral {
  background: $color-neutral-10;
  color: $color-neutral-500;
}

.toast__icon--info-primary {
  background: $color-primary-100;
  color: $color-primary-800;

  .toast__loading {
    &::after {
      border-color: $color-primary-800 transparent $color-primary-800
        transparent;
    }
  }
}

.toast__icon--loading {
  background: $color-neutral-50;
}

.toast__actions {
  margin-top: 12px;
  display: flex;
  gap: 12px;
  color: $color-neutral-700;
  font-weight: 500;
  font-size: 12px;
}

.toast__actions-button {
  color: $color-neutral-700;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-weight: 500;
  cursor: pointer;

  @include flex-align-items(5px);

  &:hover {
    color: $color-neutral-800;
  }
}

.toast__actions-button--primary {
  color: $color-primary-text;

  &:hover {
    color: $color-primary-600;
  }
}

.toast__actions-button--loading {
  cursor: wait;
  user-select: none;

  @include loading-spinner($color-primary-500, 11px);
}
